<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>QC</a>
    <ng-template ngbNavContent>
      <app-qccontrol></app-qccontrol>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>SC</a>
    <ng-template ngbNavContent>
      <app-sccontrol></app-sccontrol>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
