<div class="container">
  <div class="row row-cols-auto">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://stackblitz.com/files/angular-ivy-uqvmuf/github/HPouzDev/oficinatallerbest/feature/login/src/assets/img/cranePart/1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">QC</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://stackblitz.com/files/angular-ivy-uqvmuf/github/HPouzDev/oficinatallerbest/feature/login/src/assets/img/cranePart/1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">SC</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>QC</a>
    <ng-template ngbNavContent>
      <app-qccontrol></app-qccontrol>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>SC</a>
    <ng-template ngbNavContent>
      <app-sccontrol></app-sccontrol>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
