<h1>Bienvenido</h1>
<h5>Seleciona la herramienta a usar:</h5>
<div class="container">
  <div class="tools" (click)="goQc()">
    <img
      src="https://stackblitz.com/files/angular-ivy-uqvmuf/github/HPouzDev/oficinatallerbest/feature/login/src/assets/img/qc.png"
      class="card-img-top"
      style="background-color: skyblue;"
      alt="QC"
    />
    <h4>QC</h4>
  </div>
  <div class="tools" (click)="goSc()">
    <img
      src="https://stackblitz.com/files/angular-ivy-uqvmuf/github/HPouzDev/oficinatallerbest/feature/login/src/assets/img/sc.png"
      class="card-img-top"
      style="background-color: lightcoral;"
      alt="SC"
    />
    <h4>SC</h4>
  </div>
</div>
