h1,
h5 {
  margin: 1rem;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.tools {
  width: 50%;
}

.card-img-top {
  width: 6rem;
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .tools {
    width: 100%;
  }
}
